# ---------- Terraform ----------
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# ---------- Python ----------
__pycache__/
*.pyc
.venv/
venv/

# ---------- VS Code ----------
.vscode/

# ---------- Reports ----------
reports/

#Generated reports
python/*.csv